# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local env files
.env
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.swp
*.swo

# OS
Thumbs.db
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db

# Package manager lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Storybook
*storybook.log
storybook-static
.out
.storybook-out

# Playwright
test-results/
playwright-report/
playwright/.cache/

# Temporary folders
tmp/
temp/

# Cache
.cache
.parcel-cache

dist
dist-ssr

Notes/*
coverage
